/ProjetoNodePOD/node_modules/pg/nbproject/private/
/PostgresNodePOD/node_modules/pg/nbproject/private/
/PostgresNodePOD/node_modules/pg/node_modules/
/PostgresNodePOD/NodeJsWebApplication/nbproject/private/
/PostgresNodePOD/node_modules/
/PostgresNodePOD/nbproject/private/
/ProjetoJavaPOD/target/